.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
}

.App h1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 0;
}
.App h3 {
  font-weight: 400;
}
